@using Microsoft.Data.SqlClient;
@using System.Data;

@{
    ViewData["Title"] = "Admin Home View Volunteer";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    


    SqlConnection con = new SqlConnection("Data Source=Ali-Shahid;Initial Catalog=CharityManagement;Integrated Security=True");
    con.Open();

    SqlCommand command = new SqlCommand("SELECT V_Id, V_Name, V_ContactNo,V_Address,V_Age,V_Qualification,V_Gender,V_Email_Id,CONVERT(VARCHAR(11), V_CreationDate,106) " +
        "FROM Volunteer WHERE V_IsApproved=1", con);

    SqlDataAdapter dataAdapter = new SqlDataAdapter(command);
    DataSet dataSet = new DataSet();
    dataAdapter.Fill(dataSet);
    con.Close();
    DataTable table = dataSet.Tables[0];


}


<body>
    <main id="main" data-aos="fade-up">

        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>View Volunteer</h2>

                </div>

            </div>
        </section><!-- End Breadcrumbs -->

        <section class="inner-page">
            <section class="container">
                <div class="table-responsive-md">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Volunteer ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Gender</th>
                                <th scope="col">Education</th>
                                <th scope="col">Contact Number</th>
                                <th scope="col">Email ID</th>
                                <th scope="col">Date Added</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < table.Rows.Count; i++)
                            {

                                <tr>
                                    <th scope="row">@table.Rows[i].ItemArray[0]</th>
                                    <td>@table.Rows[i].ItemArray[1]</td>
                                    <td>@table.Rows[i].ItemArray[4]</td>
                                    <td>@table.Rows[i].ItemArray[6]</td>
                                    <td>@table.Rows[i].ItemArray[5]</td>
                                    <td>@table.Rows[i].ItemArray[2]</td>
                                    <td>@table.Rows[i].ItemArray[7]</td>
                                    <td>@table.Rows[i].ItemArray[8]</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>

            </section>

        </section>

    </main><!-- End #main -->
</body>
